#patient-appoint-choose-date .head-text {
  text-align: center;
}

#patient-appoint-choose-date .datepicker-wrapper {
  display: inline-block;
  width: 400px;
  vertical-align: top;
}

#patient-appoint-choose-date .users-wrapper {
  display: inline-block;
  width: 300px;
  vertical-align: top;
}