#index {
  padding-top: 100px;
  /*padding-bottom: 300px; */
}
#index p {
  font-size: 24px;
  color: #1ABC9C;
}

#index .btn {
  font-size: 24px;
  padding: 10px 20px;
  background-color: #fff;
  border-radius: 8px;
  display: inline-block;
  margin: 0 0 30px 0;
  color: #1ABC9C;
  box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
  cursor: pointer;
  text-decoration: none;
}

#index .btn:hover {
  background-color: #1ABC9C;
  color: #fff;
}
